exportPattern("^[[:alpha:]]+")
import(reshape2)
import(dplyr)
import(tidyr)
import(ggplot2)
importFrom(qdapRegex,"rm_between")
importFrom(ggpubr,"rotate")
importFrom(ggpubr,"ggarrange")
importFrom(ggpubr,"ggexport")
import(ensembldb)
