exportPattern("^[[:alpha:]]+")
import(reshape2)
import(dplyr)
import(tidyr)
import(tidyverse)
import(readr)
import(ggplot2)
importFrom(qdapRegex,"rm_between")
importFrom(ggpubr,"rotate")
importFrom(ggpubr,"ggarrange")
importFrom(ggpubr,"ggexport")
import(ensembldb)
import(tibble)
import(EnsDb.Hsapiens.v86)
import(ggthemes)
import(grid)
importFrom("stringr","str_detect")
importFrom("grDevices", "rainbow")
importFrom("stats", "median", "na.omit")
importFrom("utils", "head")
